<h2>Programme Journée</h2>
<div class="schedule">
  <h3>Matin (8h-12h)</h3>
  <ul>
    <li>Breakfast</li>
    <li>Activité</li>
    <li>Brunch</li>
    <li>J1 - Conférence Association</li>
    <li>Promenade en bateau</li>
  </ul>

  <h3>Après-Midi (14h-19h)</h3>
  <ul>
    <li>Libre/Bateau</li>
    <li>Projection 1</li>
    <li>Dîner</li>
    <li>J2 - Conférence Métier cinéma</li>
    <li>Activité familiale (jeu aquatique)</li>
  </ul>

  <h3>Soirée (21h-00h)</h3>
  <ul>
    <li>Projection 2</li>
    <li>Entretien Réalisateur</li>
    <li>Bar Thème musical</li>
    <li>J3 - Conférence Innovation Cinéma (1h)</li>
    <li>Tennis / Golf (~1H)</li>
    <li>Orienter vers activités nocturnes hors cadre(casino - club...)</li>
  </ul>
</div>
