<!-- src/app/film-list/film-list.component.html -->
<div class="container">
  <div class="film-table-container">
    <h2>Film List</h2>

    <table class="film-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Director</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films">
          <td><i class="fas fa-film"></i> {{ film.title }}</td>
          <td>{{ film.director }}</td>
          <td>{{ film.date }}</td>
          <td>{{ film.time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
